<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CreateCerbung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CreateCerbung</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="content">
    <ion-list>
      <!-- <ion-item>
        <ion-input
          label="Cerbung Title"
          [(ngModel)]="new_title"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Short Description"
          auto-grow="true"
          [(ngModel)]="new_desc"
          labelPlacement="floating"
        ></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-input
          label="Cerbung Image Cover"
          auto-grow="true"
          [(ngModel)]="new_url"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-select
          [(ngModel)]="new_genre"
          label="Choose Genre"
          labelPlacement="floating"
        >
          <ion-select-option *ngFor="let genre of arr_genre" [value]="genre"
            >{{ genre }}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-toolbar>
      <ion-button slot="end" (click)="goToStep2()">
        <ion-label>Next</ion-label>
      </ion-button>
    </ion-toolbar>
  </div>
</ion-content>
