<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CerbungDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CerbungDetails</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img
    src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80">
  </ion-img>
  <ion-card>
    <ion-card-title>
      Rahasia Terkunci di perpustakaan kuno
    </ion-card-title>
    <ion-card-subtitle>
      by Nebula Nomad
    </ion-card-subtitle>
    <ion-button fill="clear">
      <ion-icon name="list" aria-hidden="true"></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon name="thumbs-up" aria-hidden="true"></ion-icon>
    </ion-button>
    <p>
      a';sdflj;sdljkhfskdjfhkjsdhfkjsd hfjksdhf;laksjf;lkjdashfkjdsfalkdfhj;alkhfjs
    </p>
    <ion-button color="tertiary">Read</ion-button>
  </ion-card>
</ion-content>
